extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Lenni Bauer

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | Hello, I´m Lenni from Berlin. Follow me on my way to become a Web Dev.  
            | Curently I am enrolled in the Team Treehouse Techdegree, which I will finish late February. After that it would be nice to find a job or internship in the Berlin tech world as a JS frontend/fullstack developer.
            | When I´m not sitting in front of the computer, i like to be outside fishing, cycling or playing volleyball.
            | 
            | 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li OOP
          li Node.js
          li Express 
          li Wordpress
          li SEO
          li APIs
          li Bootstrap

        h6 Contact Info

        
        ul
          li +49176 30631254 (not my real number)
          li bauer.mcl@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/lebauerle', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/tnynth', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  